body {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.section {
    width: 700px;
}

.preserve-spaces {
    white-space: pre-wrap;
}

.controls {
    display: flex;
    padding-bottom: 10px;
}

.control-item {
    margin: 2px;
}

#bf-description {
    padding-top: 50px;
}

table {
    font-family: monospace;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

form {
    padding-right: 20px;;
}

.form-input {
    width: 100px;
    height: 21px;
    padding-top: 0;
    padding-bottom: 0;
}

.width-height-input {
    width: 50px;
}

.bf-action-section {
    font-size: 0;
    display: inline-block;
    font-family: monospace;
    white-space: pre;
}

.bf-action-section > div {
    font-size: initial;
}

.bf-action-content {
    width: 500px;
}

.cell-details {
    word-wrap: break-word;
    white-space: normal;
    display: none; /* edited by css to be inline-block */
    width: 800px;
    font-family: courier;
}

.char-instruction {
    display: inline;
}

.divider {
    border-bottom: 2px solid grey;
    width: 800px;
}

.copy-icon {
    cursor: pointer;
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url('https://cdn-icons-png.flaticon.com/512/126/126498.png') no-repeat center;
    background-size: contain;
}

/* buttons */

:root {
    --primary-color: rgb(56, 135, 255);
    --on-hover: #7eb1ff;
    --on-click: #0066ff;
    --border-focus: #003a90;
}

button {
    align-items: center;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    fill: black;
    font-family: courier;
    font-size: 16px;
    height: 25px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    padding: 0 17px;
    text-align: center;
    touch-action: manipulation;
}

button:focus {
    border-color: var(--border-focus);
}

button:hover {
    background-color: var(--on-hover);
    border-color: var(--on-hover);
    fill: var(--primary-color);
}

button:active {
    background-color: var(--on-hover);
    border-color: var(--on-hover);
    fill: var(--primary-color);
    animation: flashText 0.3s forwards;
}

@keyframes flashText {
    0% {
        background-color: var(--on-click);
    }
    100% {
        background-color: var(--on-hover);
    }
}
