.bf-action-section {
    font-size: 0;
    display: inline-block;
    font-family: monospace;
    white-space: pre;
}

.bf-action-section > div {
    font-size: initial;
}

.bf-action-content {
    width: 500px;
}

.error {
    border: 1px solid red;
}
