.state-data {
    display: inline-block;
    font-size: 18px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.cell-details {
    word-wrap: break-word;
    white-space: normal;
    display: none;
    width: 650px;
    font-family: courier;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
}

.char-instruction {
    display: inline;
}

.copy-icon {
    cursor: pointer;
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url('https://cdn-icons-png.flaticon.com/512/126/126498.png') no-repeat center;
    background-size: contain;
}

.cell-details-edit-button {
    display: block;
    margin-top: 5px;
    margin-bottom: 8px;
    line-height: 0;
}

button {
    padding: 0 !important;
}

.cell-details-edit-form {
    margin-top: 4px;
    margin-bottom: 4px;
}

#cell-details-0, #cell-details-1, #cell-details-2 {
    padding-top: 8px !important;
}

.select {
    height: 25px;
}

.with-side-item {
    padding-right: 0px;
}

canvas {
    border: 1px solid black;
}

.close-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 24px;
  cursor: pointer;
  color: black;
  text-align: center;
  line-height: 24px;
}
