.section {
  font-family: Helvetica;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  font-family: "Libre-Franklin", "Lucida Grande", Arial, Sans-serif;
  font-size: 13px;
}

img {
  display: block;
  margin: auto;
}